.navbar {
    background-color: grey;
    height: 80px;
    display: flex;
    justify-content: start;
    align-items: center;
    text-align: center;
}

.nav-menu{
    background-color: #404040;
    border-radius: 25px;
    width: 210px;
    height: 70vh;
    display: flex;
    justify-content: center;
    top: 20vh;
    left: 20px;
    margin-top: 10%;
    transition: 850ms;
    justify-items: center;
    text-align: center;

}

.nav-menu a{
    text-decoration: none;
    font-size: 18px;
    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    text-align: center;
}


.nav-menu-items{
    width: 100%;
    justify-self: center;
    padding-top: 35px;
    padding-left: 10%;
}

span {
    margin-left: 16px;
}